parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    level: 8
    paths:
        - src
    disallowedFunctionCalls:
        -
            function: 'var_dump()'
            message: 'use logger instead'
        -
            function: 'dump()'
            message: 'use logger instead'
        -
            function: 'print_r()'
            message: 'use logger instead'
    ignoreErrors:
        -
            message: '#Property [a-zA-Z0-9\\_]+::\$[a-zA-Z]+ is never written, only read.#'
            path: src/Entity/*
        -
            message: '#Property [a-zA-Z0-9\\_]+::\$[a-zA-Z]+ is never read, only written.#'
            path: src/Entity/*
        -
            message: '#Dead catch \- ReflectionException is never thrown in the try block.#'
            path: src/Client/RestClient.php
